.main_header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  align-items: center;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #888;
  z-index: 1000;
}
.main_header .link__logo {
  text-decoration: none;
}
.main_header .link__logo .container_logo {
  display: inline-flex;
  align-items: center;
}
.main_header .link__logo .container_logo .titulo {
  display: inherit;
  font-size: 1.7rem;
  color: var(--black);
}

.menu__a-hover:hover {
  background-color: #333;
  transition: background-color 0.7s ease;
}

.menu__a-focus:focus {
  transform: translateY(3px);
}

/* Mapa */
/* Extend */
.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.container-img {
  overflow-y: hidden;
}
.container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}

/* Mixin */
.contact__section {
  margin-top: 3.5rem;
  background-color: rgb(65, 65, 65);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__section .contact__title {
  text-align: center;
  padding-top: 2rem;
  font-size: 50px;
  margin-bottom: 2rem;
  font-weight: 700;
  color: deepskyblue;
}
.contact__section .contact__form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
@media (max-width: 768px) {
  .contact__section .contact__form {
    width: 80%;
  }
}
.contact__section .contact__form .contact__input {
  height: 2rem;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 1.25rem 0;
  outline: none;
  font-size: 1.1em;
}
.contact__section .contact__form .contact__input:focus {
  background-color: #aaa;
  transition: background-color 0.5s ease;
}
.contact__section .contact__form .contact__input2 {
  height: 2rem;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 1.25rem 0;
  outline: none;
  font-size: 1.1em;
}
.contact__section .contact__form .contact__input2:focus {
  background-color: #aaa;
  transition: background-color 0.5s ease;
}
.contact__section .contact__form .contact__textarea {
  border: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
  resize: none;
  outline: none;
  font-size: 1.1em;
}
.contact__section .contact__form .contact__textarea:focus {
  background-color: lightgray;
  transition: background-color 0.5s ease;
}

.main_footer {
  background-color: #6c757d;
  padding: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.main_footer .link img {
  width: 30px;
}
.main_footer .footer_section {
  float: right;
}
.main_footer .footer_section .footer_link {
  transition: color 0.3s ease;
  color: var(--white);
  text-decoration: none;
  padding: 0.7rem;
}
.main_footer .footer_section .footer_link:hover {
  color: var(--lightblue);
}
.main_footer .copyright {
  margin: 0;
  text-align: center;
  display: inline;
}
@media (min-width: 550px) {
  .main_footer .copyright {
    text-align: left;
  }
}

.body_section {
  height: 100vh;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 580px) {
  .body_section {
    flex-direction: column;
    height: 70vh;
  }
}
@media (max-width: 1100px) {
  .body_section {
    margin-top: 4rem;
  }
}
@media (max-width: 768px) {
  .body_section {
    margin-top: 2rem;
  }
}
.body_section .body_container {
  height: 100%;
  font-weight: 500;
  line-height: 1.3rem;
  display: flex;
  align-items: center;
  max-width: 1100px;
}
@media (max-width: 580px) {
  .body_section .body_container {
    flex-direction: column;
    margin-top: 4.5rem;
  }
}
.body_section .body_container .inicio_p {
  width: 30%;
  font-weight: 600;
}
@media (max-width: 580px) {
  .body_section .body_container .inicio_p {
    width: 80%;
    padding-top: 2rem;
  }
}
.body_section .body_img {
  max-width: 58%;
  padding-right: 1rem;
}
@media (max-width: 580px) {
  .body_section .body_img {
    max-width: 95%;
    padding: 0;
  }
}

.wrapper {
  margin-top: 60px;
  text-align: center;
  background-color: rgb(65, 65, 65);
}
.wrapper .our_team {
  padding-bottom: 2rem;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper .our_team .team_member h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}
.wrapper .our_team .team_member {
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}
.wrapper .our_team .team_member .member_img:hover .social_media {
  transform: scale(1);
}
.wrapper .our_team .team_member p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}
.wrapper .our_team .team_member span {
  font-size: 10px;
}
.wrapper .our_team .team_member .member_img {
  background: #e9e5fa;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.wrapper .our_team .team_member .member_img .social_media {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}
.wrapper .our_team .team_member .member_img .social_media .fab {
  color: #8c7ae6;
  font-size: 20px;
}
.wrapper .our_team .team_member .member_img .social_media .item {
  margin: 0 10px;
}
.wrapper .our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
}
.wrapper .h2n {
  text-align: center;
  padding-top: 2rem;
  color: #fff;
  font-size: 50px;
  margin-bottom: 80px;
  font-weight: 700;
}
.wrapper .h2n .equipo {
  color: deepskyblue;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .header {
  text-align: center;
  font-size: 50px;
  margin-bottom: 80px;
  font-weight: 700;
  justify-self: center;
}
.container .header span {
  color: deepskyblue;
}
@media (max-width: 768px) {
  .container .row {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    overflow-y: hidden;
  }
}
.container .single-service {
  background-color: rgb(65, 65, 65);
  color: #fff;
  padding-inline: 25px;
  min-height: 380px;
  height: fit-content;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}
.container .single-service h2 {
  font-size: 25px;
  font-weight: 500;
}
.container .single-service i {
  font-size: 60px;
}
.container .single-service:hover {
  background: radial-gradient(circle, #00ccff, #0190f9);
  color: #fff;
}

/* ========== SCROLL BAR ========== */
::-webkit-scrollbar {
  background-color: var(--white);
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

/* ========== SCROLL BAR Final ==========  */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: rgb(196, 195, 195);
}

/*# sourceMappingURL=style.css.map */
