@import './componentes/header';
@import './componentes/navbar';
@import './componentes/info';
@import './componentes/main';
@import './componentes/aside';
@import './componentes/footer';

body{
    background-color:lightgray;
}
.grid-container{
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header"
    "navbar"
    "info"
    "main"
    "aside"
    "footer";
    @media (min-width: 600px) {
         grid-template: 
         "header header" 100px
         "navbar navbar" 200px
         "info   info"   auto
         "main   aside"  auto
         "footer footer" 100px /
         auto;
    }
    @media (min-width: 900px) {
            grid-template:
            "header header header" 100px
            "navbar navbar navbar" 100px
            "info    info   info"  300px
            "main   main   aside" auto
            "footer footer footer" 100px /
             auto;
    }
    @media (min-width: 600px) {
        grid-template: 
        "header header" 100px
        "navbar navbar" 200px
        "main aside"  auto
        "footer footer" 100px /
        auto;
   }
   
   
   @media (min-width: 900px){
        grid-template: 
        "header header header" 100px
        "navbar navbar navbar" 200px
        "main main aside"  auto
        "footer footer footer" 100px /
        auto;       
   }
}

