aside{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-area: aside;
}

.imgabogado{
    position: relative;
    text-align: center;
}

.abogado{
    height: 357px;
}