/* ========== FORM ========== */
  
.body__section--contacto {
  background-color: var(--contact-color);
  display: flex;
  width: 100%;
  height: 600px;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

.body_form {
  background-color: rgba(240, 240, 240, 0.792);
  height: 66%;
  border-radius: 5px;
  min-width: 40%;
}

hr {
  border: rgb(192, 192, 193) 1px solid;
}

.input {
  padding: 0.4rem;
  margin: 0.8em;
  display: flex;
  border-radius: 6px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--lightblue);
}

.input-text_area {
  resize: none;
  box-sizing: border-box;
  min-width: inherit;
  width: 95%;
  margin: auto;
}

.form_titulo {
  text-align: center;
}

.input-button {
  display: flex;
  width: 7rem;
  justify-content: center;
  background-color: var(--lightblue);
  cursor: pointer;
  margin: 0.8rem auto;
  padding: 0.7rem;
  font-weight: 700;
}

.input-button:hover {
  color: #eee;
}

/* ========== FORM END ========== */