/* Mixin */
@mixin mixin-contacto (
    $bg-color
)
{
    height: 2rem;
    border: none;
    border-bottom: 1px solid lightgray;
    margin: 1.25rem 0;
    outline: none;
    font-size: 1.1em;
    &:focus {
        background-color: $bg-color;
        transition: background-color 0.5s ease;
      }
}
    
.contact__section {
    margin-top: 3.5rem;
    background: rgb(105, 143, 155);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contact__title {
      font-weight: 700;
      font-family: 'Yatra One', cursive;
      font-size: 2em;
      margin: 1.3rem auto;
    }

    .contact__form {
      display: flex;
      flex-direction: column;
      width: 70%;

      @media (max-width: 768px) {
          width: 80%;
      }

      .contact__input {
        @include mixin-contacto(rgb(153, 8, 8));
      }
      .contact__input2 {
        @include mixin-contacto ( rgb(155, 152, 105))
      }

      .contact__textarea {
        border: none;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1rem;
        resize: none;
        outline: none;
        font-size: 1.1em;

        &:focus {
          background-color: lightgray;
          transition: background-color 0.5s ease;
        }
      }
    }  
  }