.main_footer {
    background-color: #6c757d;
    padding: 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    .link{
      img{
        width: 30px;

      }
    }
    .footer_section {
      float: right;
      .footer_link {
        transition: color 0.3s ease;
        color: var(--white);
        text-decoration: none;
        padding: 0.7rem;
        &:hover {
          color: var(--lightblue);
        }
      }
    }
    .copyright {
      margin: 0;
      text-align: center;
      display: inline;
      @media (min-width: 550px) {
          text-align: left;
        }
      }
    }


