       .body_section {
        height: 80vh;
        margin-top: 6rem;
        display: flex;
        justify-content: center;
        @media (max-width:580px) {
          flex-direction: column;
          height: 70vh;
          
        }
        @media (max-width:1100px) {
          margin-top: 4rem;
        }

        @media (max-width:768px) {
          margin-top: 2rem;
          
        }
        .body_container {
          height: 100%;
          font-weight: 500;
          line-height: 1.3rem;
          display: flex;
          align-items: center;
          max-width: 1100px;
          @media (max-width:580px) {
            flex-direction: column; 
            margin-top: 4.5rem;        
          }
          .inicio_p{
            width: 30%;
            font-weight: 600;
            @media (max-width:580px) {
              width: 80%;
              padding-top: 2rem; 
            }
          }
          }
          .body_img {
            max-width: 58%;
            padding-right: 1rem; 
            @media (max-width:580px) {
              max-width: 95%;
              padding: 0;
            }    
           }
          }
          
