.h2s{
    margin: 0;
    padding-top: 1rem;
    font-family: 'Yatra One', cursive;
    font-weight: 700;
    font-size: 2em;
    color: black;
}
.title {
    color: #444;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgb(105, 143, 155);
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-color: rgb(105, 143, 155);
    @media (max-width: 768px){
    flex-direction: column;
    }
    .card{
        height: 350px;
        width: 300px;
        padding: 0 35px 20px;
        border-radius: 10px;
        background: #dff9fb;
        margin: 10px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        box-shadow: 0 0 10px transparent;
        
        &:hover{
            color: #fff;
            border: none;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }


        h2{
            font-family: 'Raleway';
            padding: 1rem 0;
            text-align: center;
            color: #22a6b3;
            font-size: 1.8em;
        }
        .button {
            background: #22a6b3;
            color: #c7ecee;
            border: none;
            border-radius: 5px;
            width: 120px;
            padding: 15px;
            display: inline-block;
            font-family: 'Raleway';
            font-size: 16px;
            align-content: center;
            margin: 5rem auto 0;
        }
        a{
            text-decoration: none;
        }

        .content{
            display: flex;
            flex-direction: column;

            .content-p{
                font-size: 1.1em;
                color: #535c68;
            }
        }
    
    }

}









